resources:
  pipelines:
    example_dlt_pipeline:
      name: example_dlt_pipeline
      catalog: {{.catalog}}
      target: {{.schema}}
      libraries:
        - notebook:
            path: ../src/example_dlt_pipeline.py

      configuration:
        bundle.sourcePath: ${workspace.file_path}/src
